[Unit]
Description=Guildgate: A web front-end for LDAP
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=3
User=root
ExecStart=/usr/local/bin/guildgate
ExecReload=/bin/kill -USR1 $MAINPID


[Install]
WantedBy=multi-user.target
