{{ define "minecraft" }}
{{ template "header" .}}
<body>
	<div>
	{{if .Linked }}
	<p>Your Minecraft Account {{ .MinecraftAccount }} is linked with {{ .Username }}.</p>
	{{ else }}
	<form method="POST" action="/minecraft/link">
		<p>Enter your Minecraft Username and click the button to link it to your Saintnet account.</p>
		<p>This will add you to any connected servers whitelist</p>
		<table>
			<tr>
				<td>Minecraft Username:</td>
				<td><input type="string" placeholder='Minecraft username' name="mcusername" value="Minecraft username"></td>
			</tr>
			<tr>
				<td><input type="submit" value="Link"</td>
			</tr>
		</table>
	</form>
	{{end}}
	</div>
{{template "footer" .}}
{{end}}
